<body>
    <body style="font-family: corbel, monospace, sans-serif ">
        <center><h1>Пособия</h1></center>
    </body>
    <center><img src="https://czn.mos.ru/image?file=/cms_data/usercontent/regionaleditor/final/ркв/brb_м.png" width="1000"</center>
    <center><img src="https://czn.mos.ru/image?file=/cms_data/usercontent/regionaleditor/final/ркв/b2.png" width="1000"</center>
    <center><img src="https://czn.mos.ru/image?file=/cms_data/usercontent/regionaleditor/final/ркв/b5.png" width="1000"</center>
