@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <body>
        <body style="font-family: corbel, monospace, sans-serif ">
            <center><img src="https://sun9-46.userapi.com/impg/ZCgs2ARvnXfoE4BZeWaANC_jFvmcBvNo1S6ibQ/UnRs1ed8E5o.jpg?size=500x272&quality=96&sign=a7ce487129eec6972ea9bb3819e46b7a&type=album" width="300"></center>

            <center><strong><h1>Моя работа</h1></strong></center>
            <center><p class="lead">Центр занятости города Ангарск</p></center>

        </body>
</div>

<div class="row">
    <div class="col-md-4">

        <strong><h2>Найди работу - </h2></strong>
        <p>
            Горячие вакансии от ведущих рекрутинговых сайтов
            <img src="https://sun9-62.userapi.com/impg/elMokHvmRgYRV-qWhkCvl5_tvjfu1ldca995fw/awFbyGYX_UY.jpg?size=500x500&quality=95&sign=02312ea756f62c1ccb975f5f79d3ec29&type=album" width="300">
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Хочу! &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <strong><h2>Хочу работать на себя - </h2></strong>
        <p>Открой собственное дело!</p>
        <img src="https://sun9-40.userapi.com/impg/C_acT8iuWsoz7rpMWIoUswJ740D2AT8fGU7tiA/YumnvDjjDHI.jpg?size=500x500&quality=95&sign=f65720650a20ccbd2b999ae9cab305a9&type=album" width="300">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Хочу! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <strong><h2>Первая работа - </h2></strong>
        <p>Вакансии для молодых специалистов!</p>
        <img src="https://sun9-58.userapi.com/impg/1tgcCOcG-SDTV5x9Ro7WQ9diS1vrQpzBBFHUVQ/sPcxN_SaBno.jpg?size=500x500&quality=95&sign=12938539f6a2b6d1798f3d4cfcb54709&type=album" width="300">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Хочу! &raquo;</a></p>
    </div>
</div>